@import url('../../colors.css');

.top-content {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 48px;
  /* Adjust font size as needed */
  font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 1.5;
  /* margin-bottom: 30px; */
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.bio-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* Adjust border radius as needed */
}

.content {
  padding-right: 20px;
}

.bio-data-heading h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.bio-data-rows {
  margin-top: 20px;
}

.row {
  margin-bottom: 15px;
  display: inline;
  /* flex-direction:row; */
}

.row-data {
  list-style: none;
  padding: 0;
}

.row-data li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
}

.row-data li span {
  margin-left: 10px;
}

.row-data li svg {
  color: var(--accent-color);
  font-size: 25px;
  margin-right: 5px;
  line-height: 0;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stats {
  display: flex;
  padding: 60px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.stat {
  margin: 25px 20px;
}

.stats .stat .item {
  background: var(--surface-color);
  padding: 30px 40px 25px 40px;
  margin: 27px 27px;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.stat h2 {
  font-size: 37px;
  font-weight: 700;
}

.stat svg {
  position: absolute;
  color: var(--accent-color);
  font-size: 35px;
  outline: 2px solid black;
  background: var(--surface-color);
  border-radius: 50px;
  z-index: 1;
  height: 50px;
  width: 50px;
  padding: 10px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color:
    color-mix(in srgb, var(--default-color), transparent 50%);
  position: relative;
}

.section-title div {
  color: var(--heading-color);
  margin: 0;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--accent-color);
  margin: 4px 10px;
}

.skills {
  /* display:flex; */
  margin-bottom: 50px;
  width: 100%;
}

.skill-row {
  display: flex;
}

.skill {
  position: relative;
  width: 100%;
  padding: 15px;
}

.skill-bar {
  height: 15px;
  width: 100%;
  background: var(--surface-color);
  border-radius: 5px;
  margin: 15px;
}

.skill-bar-fill {
  height: 100%;
  background: var(--accent-color);
  border-radius: 5px;
  text-align: center;
}

.progressText {
  padding: 0;
  color: var(--default-color);
  font-weight: 500;
  float: right;
}

.progressTitle {
  font-size: 15px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.skills-data {
  height: 150px;
  width: 150px;
  margin: 15px 15px;
  padding: 15px 15px;
  text-align: center;
  background: var(--surface-color);
  /* border-radius: 50px; */
}

.skills-data svg {
  height: 100px;
  width: 100px;
}