@import url('../../colors.css');

nav{
    width:100%;
    color: var(--default-color);
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: all 0.3s ease-in-out 0s;
}
.logo{
    width: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 18px;
    font-family: var(--nav-font);
    position: relative;
    cursor: pointer;
}

 ul .nav-item::after{
    content: "";
    position: absolute;
    height: 2px;
    left: -5px;
    bottom: -5px;
    width: 0px;
    background-color: var(--accent-color);
    transition: width .5s;
}
 ul .nav-item:hover::after{
    width: 80%;
}
ul .nav-item:hover{
    color: var(--hover-color);
}
.dark-nav{
    background: rgba(0, 0, 0, 0.703);
    transition: 0.5s;
}
.nav-item .active{
    color: var(--accent-color);
}
.active::after{
    content: "";
    position: absolute;
    height: 2px;
    left: -5px;
    bottom: -5px;
    width: 80%;
    background-color: var(--accent-color);
    /* transition: width .5s; */
}
.menu-icon{
    display: none;
    font-size: 25px;
}
@media (max-width:840px){
    /* .logo{
        width: 100px;
    } */

    
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    nav{
       margin: 15px 0; 
       transition: 0.5s;
       top: -15px;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        background: var(--surface-color);
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
        bottom: 0;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .hide-mobile-menu{
        right: -200px;
    }

}