.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #797979;
    padding: 15px 0;
    background: var(--surface-color);
    color: var(--default-color);
    text-align: center;
    
}