:root { 
    --background-color: #000000; 
    --default-color: #fafafa; 
    --heading-color: #ffffff; 
    --accent-color: #18d2b9; 
    --surface-color: #1a1a1a; 
    --contrast-color: #000000;
    --hover-color:var(--accent-color);

    --nav-font: "Poppins",  sans-serif;
  }