@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('./colors.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background:var(--background-color);
}
a{
    text-decoration: none;  
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left: 5%;
    padding-right: 5%;
    color: var(--default-color);
}
.btn{
    background: var(--accent-color);
    color: var(--default-color);
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn img{
    width: 20px;
    margin-left: 10px;
}

.btn.dark-btn{
    background-color: var(--surface-color);
    color:var(--default-color);
}
.top-content{
        color: var(--default-color);
        margin: 100PX 10PX;
        justify-content: center ;
        text-align: center;
}
.ScrollToTop{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background-color: var(--accent-color);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
    justify-content: center;
    align-items: center;
    bottom: -15px;
    display: flex;
    font-size: 15px;
}
.active-btn{
    visibility: visible;
    opacity: 1;
    bottom: 15px;
    cursor: pointer;
}
.ScrollToTop:hover{
    opacity: 0.8;
    color: var(--default-color);
}

